BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
TabWidth: 4
AllowShortIfStatementsOnASingleLine: Always
ColumnLimit: 140
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
IncludeCategories:
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        1

---
Language: Cpp
AllowShortFunctionsOnASingleLine: All
