BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
TabWidth: 4
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
IncludeCategories:
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        1